
.jumscare_div{
    position: fixed;
    z-index: 10000000000;
    width: 100% !important;
    height: 100%;
    /* background-image: url("/pics/jump.gif"); */
    background-repeat: no-repeat;
    background-color: black;
    background-position:center;
    
}

.jumscare_div img{
    width: 100%;
    height: 100%;
}

.CountdownTimer{
    position: fixed;
    z-index: 10000000000;
    width: 100% !important;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CountdownTimer p{
 filter: drop-shadow(0px -7px 1px #5dc02c);
 font-family: 'SF Ironsides';
 font-size: 200px;
 text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Shadow Effect */
 color: #e6dddd;

}

@media screen and (max-width:700px) {
    .jumscare_div{
        /* height: 815px; */
        background-image: url("/pics/jump_last.gif");
        background-position: center;
        background-size: 150%;
    }
}